*{
    padding: 0%;
    list-style: none;
    text-decoration: none;
}


header{
    width: 100%;
    height: 50px;
    display:block;
    background-color: #333;
}

header .logo {
    display: table;
    height:100%;
    float: left;
    padding-left: 10%;
}

header .logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}

header nav{
    float:right;
    height: 100%;
}

header nav li{
    height:100%;
    float:left;
    margin-right: 75px;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: underline;
    font-style: oblique;
}

header nav li:last-of-type{
    margin-right:135px;
}

header nav a{
    color:#ff0099;
}

h1{
    font-size:60px;
    margin-top: 50px;
    font-family: 'Kanit', sans-serif;
    padding-left: 10%;
}

.toph3{
    color:#ff0099;
    padding-left: 10%;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.def{
    padding-left: 10%;
    font-size: 30px;
}

.defp{
    padding-left:10%;
    padding-right: 10%;
    font-size:18px;
    font-family: 'Courier New', Courier, monospace;
}

.subtitle2{
    text-align: center;
    font-size: 50px;
}

.subtitle1{
    text-align: center;
    font-size: 35px;
    font-weight: lighter;
}